.primeraConfiguracion {
  text-align: center;
  font-size: 24px;
}

#intentos,
#letras {
  font-size: 24px;
  border: 1px solid gray;
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  margin: 10px;
  width: 10%;
}

.botonJugar {
  background-color: #0070f8;
  font-size: 24px;
  color: white;
  border-radius: 8px;
  width: 12%;
  height: 43px;
  border: none;
  cursor: pointer;

  /* Cuando pasa el cursor sobre la tecla hace que tenga esta suave transicion */
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

.botonJugar:hover {
  transform: scale(1.1);
}

.botonJugar:active {
  transform: scale(0.95);
}
/* ************************************************************************************* */
/* ___________________________________ESTILOS PARA EL TECLADO VIRTUAL___________________ */
/* ************************************************************************************* */

.tecladoVirtual {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

/* Estilo general para cada fila del teclado virtual */
.fila {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 10 columnas iguales por defecto */
  gap: 6px;
}

/* Estilo para las vocales con tildes que son mas anchas*/
.fila-tildes {
  grid-template-columns: repeat(5, 1fr);
}

/* Define que las teclas especiales usen 1.5 partes del espacio */
.fila-inferior {
  grid-template-columns: 1.5fr repeat(7, 1fr) 1.5fr;
}

.tecla {
  background-color: #d2d5d9;
  border: none;
  cursor: pointer;
  font-size: 24px;
  height: 60px;
  border-radius: 8px;

  /* Cuando pasa el cursor sobre la tecla hace que tenga esta suave transicion */
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

/* Interacción del boton cuando pasa por encima el ratón */
.tecla:hover {
  background-color: #3b82f6;
  color: #fff;

  /* Amplia el botón*/
  transform: scale(1.1);
}

/* Interacción del boton cuando el ratón pulsa sobre el*/
.tecla:active {
  /* Encoje el botón*/
  transform: scale(0.95);
}

/* ************************************************************************************* */
/* ___________________________________ESTILOS PARA LAS CAJAS____________________________ */
/* ************************************************************************************* */
.cajaPalabra {
  display: grid;
  gap: 15px;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.caja {
  width: 108px;
  aspect-ratio: 1;
  border: 2px solid #ccc;
  border-radius: 12px;
  background-color: #fff;

  font-size: 32px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  margin: 5px;
}

.recuadro {
  text-align: center;
  margin-right: -300px;
  margin-left: -300px;
}

/* ************************************************************************************* */
/* ___________________________________ESTILO PARA REINICIAR_____________________________ */
/* ************************************************************************************* */

.botonReiniciar {
  background-color: #0070f8;
  font-size: 24px;
  color: white;
  border-radius: 8px;
  width: 12%;
  height: 43px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;

  /* Cuando pasa el cursor sobre la tecla hace que tenga esta suave transicion */
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

.botonReiniciar:hover {
  transform: scale(1.1);
}

.botonReiniciar:active {
  transform: scale(0.95);
}

.reinicio {
  text-align: center;
}

.reinicio > p {
  font-size: 34px;
}

/* ************************************************************************************* */
/* ___________________________________ESTILO DEL RECUADRO_______________________________ */
/* ************************************************************************************* */

.caja.correcta {
  background-color: #6aaa64; /* Verde */
  color: white;
  border-color: #6aaa64;

  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

.caja.presente {
  background-color: #c9b458; /* Amarillo */
  color: white;
  border-color: #c9b458;

  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

.caja.ausente {
  background-color: #787c7e; /* Gris */
  color: white;
  border-color: #787c7e;

  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

/* ************************************************************************************* */
/* ___________________________________ESTILO PARA HISTORIAL_____________________________ */
/* ************************************************************************************* */

.botonVerHistorial {
  background-color: #0070f8;
  font-size: 24px;
  color: white;
  border-radius: 8px;
  width: 12%;
  height: 43px;
  border: none;
  cursor: pointer;

  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

.botonVerHistorial:hover {
  transform: scale(1.1);
}

.botonVerHistorial:active {
  transform: scale(0.95);
}

.botonCerrarHistorial {
  background-color: #0070f8;
  font-size: 24px;
  color: white;
  border-radius: 8px;
  width: 12%;
  height: 43px;
  border: none;
  cursor: pointer;
  margin-top: 10px;

  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

.botonCerrarHistorial:hover {
  transform: scale(1.1);
}

.botonCerrarHistorial:active {
  transform: scale(0.95);
}

/* ************************************************************************************* */
/* ___________________________________ESTILOS PARA OCULTAR ELEMENTOS____________________ */
/* ************************************************************************************* */

.oculto {
  display: none;
}
